.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex>* {
    flex: 1 1 250px;
    margin: 10px;
}

.wrapper {
        border: 5px solid rgb(110, 93, 86);
        border-radius: 5px;
        margin-bottom: 2em;
    }

*, *::before, *::after {
        box-sizing: inherit;
    }

main {
    display: block;
}

box {   
        width: 47%;
        background-color: rgb(89,161,175);
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
    }

html {
        box-sizing: border-box;
        font: 1.1em/1.4 Helvetica, sans-serif;
    }